DJANGO_SECRET_KEY=replace-this-in-development-and-production
DJANGO_DEBUG=True
DB_ENGINE=sqlite
POSTGRES_DB=bizflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_SSLMODE=require
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
